.menu{
    display: flex;
    gap: 5vh;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 40px;
    color: black;
    background-color: white;
    z-index: 1;
    position: fixed;
    border-bottom: 2px solid black;
}