:root{

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}


 body{
background-color: rgb(255, 255, 255);
color: rgb(0, 0, 0);
 }


 section{
  padding-top: 2.5vw;
  padding-left: 2vh;
  min-height: 100vh;
  height: auto;
 }

 a{
  text-decoration: none;
  color: inherit;
  opacity: 0.8;
 }

 a:hover{
  opacity: 1.0;
 }